<div class="container bg-image">
  <nav class="navbar">
    <a href="#" class="logo">
      <img src="../../assets/img/logo-1.png" width="50px" height="50px" />
      Namaste Village
    </a>
    <ul class="nav-btns">
      <li>
        <a (click)="handleSignupAction()">Sign Up</a>
      </li>
      <li>
        <a (click)="handleLoginAction()">Login</a>
      </li>
      <li>
        <a (click)="handleForgotPasswordAction()">Forgot Password</a>
      </li>
    </ul>
  </nav>
  <div >
    <img src="../../assets/img/logo-1.png" width="500px" height="500px" >
  </div>

  <div class="footer">
    <h4 style="font-size: 0.8rem">
      ©
        Copyright © 2024 - 2030 NamasteVillage®. All rights reserved.
    </h4>
  </div>
</div>
