.mat-h6, .mat-headline, .mat-typography h6 {
    font-size: 18px;
    font-weight: 200;
    margin-top: 15px;
}

.mat-toolbar {
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
}
.blacky{
    background : linear-gradient( to top ,black,rgb(86, 86, 86));
}
.yes{
    background-color: black;
    color: white;
}